<!-- <div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body"></div>
    </div>
  </div>
</div> -->
<div id="miModal" [class]="state() ? 'miModal' : 'miModal-default'">
  <div
    [class]="
      state()
        ? 'modal-content-default movedown'
        : 'modal-content-default movedown-default'
    "
  >
    <h2>{{ title() }}</h2>
    <p>{{ msg() }}</p>
  </div>
</div>
